.our_exhibition{
    margin-top: 150px !important;
    padding: 10px;
    border: 1px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.our_exhibition_title{
    color: var(--Grey);
    font-size: var(--fontSizeLarge);
    text-decoration: underline;
}

.exhibition_info{
    display: grid;
    width: 80%;
    justify-content: center;
    grid-template-columns: 25% 75%;
    font-size: var(--fontSizeSuperSmall);
}

.exhibition_info > *{
    padding: 10px;
    border: 1px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
}

.exhibition_image{
    height: 500px;
}

.exhibition_facts{
    text-align: left;
    font-size: var(--fontSizeSmall);
    padding-left: 30px;
    margin-right: 10px;
}

.exhibition_attendees{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
}


.exhibition_attendees_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
    
}

.last_year_exhibition{
    margin-top: 10px;
    border: 1px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
    width: 80%;
    
}

.last_year_exhibition iframe{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.last_year_exhibition_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.exhibition_highlight_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
    
}

.exhibition_facts_list{
    text-align: left;
    font-size: var(--fontSizeSmall);
}

.exhibition_facts_list > img {
    width: 90%;
}

.exhibition_description{
    padding: 10px;
}

.exhibition_highlight{
    margin-top: 10px;
    grid-column: span 2;
}

@media (max-width: 800px) {
    .exhibition_info {
      grid-template-columns: auto !important;
    }

    .exhibition_highlight{
        grid-column: span 1 !important;
    }

    .exhibition_facts{
        margin-bottom: 10px !important;
    }

    .exhibition_facts_list{
        text-align: center !important;
    }

    .exhibition_facts_list > img {
        max-width: 200px !important;
    }
    .exhibition_attendees{
        grid-template-columns: auto !important;
    }

    .exhibition_highlight_layouts{
        grid-template-columns: auto !important;
    }

  }


  .our_exhibition_text{
    font-size: var(--fontSizeMedium);
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.other_exhibition{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
    width: 80%;
}

@media (max-width: 1000px) {
    .our_exhibition{
        width: 90%;
        grid-template-columns: 1fr !important;
    }
}

.exhibition_highlight_layouts{
    padding: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
}

.exhibition_highlight_layout{
    padding: 10px;
}

.exhibition_highlight_layout_title{
    font-size: var(--fontSizeSmall);
    text-decoration: underline;
}

.exhibition_highlight_layout_text{
    font-size: var(--fontSizeSuperSmall);
}

.exhibition_highlight_layout_image{
    width: 100%;
}

.exhibition_title{
    padding-bottom: 1rem;
}

.exhibitions_override {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}