.history{
    width: 80%;
    border: 1px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}

.history_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.history_text{
    white-space: pre-line;
}