/* about */

.about{
    display: grid;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    grid-template-columns:  repeat(3, 1fr);
}

@media (max-width: 1000px) {
    .about {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto !important;
    }
}

.about > *{
    text-align: center;
}

.about_box{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid var(--Marron);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--LightGrey);
}

.about_title{
    padding: 10px;
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.about_text{
    font-size: var(--fontSizeSmall);
}

.about_text > p{
    font-size: var(--fontSizeSmall);
}

.our_history{
    white-space: pre-line;
}

.read_more{
    padding: 10px;
    color: var(--Marron) !important;
    font-size: var(--fontSizeSmall);
}

.about_date_location{
    padding-bottom: 10px;
}

.join_title{
    padding: 10px;
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.join_text{
    font-size: var(--fontSizeSmall);
}

.join_contact{
    color: var(--Marron) !important;
}

.location{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* layouts */
.layouts{
    display: grid;
    width: 100%;
    grid-template-columns:  25% 25% 25% 25%;
    scroll-margin-top: 140px;
}

@media (max-width: 1500px) {
    .layouts {
      grid-template-columns: 50% 50%!important;
    }
  }

@media (max-width: 800px) {
    .layouts {
      grid-template-columns: 1fr !important;
      grid-template-rows: auto auto auto auto !important;
    }
  }

.layout{
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout_text{
    color: black;
}

.layout_text > img{
    width: 90%;
}

.layout_text {
    font-size: var(--fontSizeSmall);
}

.layout_name{
    width: 100%;
    color: black !important;
    font-size: var(--fontSizeMedium) !important;
    text-decoration: underline !important;
}

.layout_name:hover{
    cursor: pointer;
}

.layout_keypoint{
    font-size: var(--fontSizeSmall);

}

/* contact & upcoming */

.exhibition_contact{
    display: grid;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    grid-template-columns:  50% 50%;
}

.exhibition_override{
    grid-template-columns:  50% 50%;
}

@media (max-width: 1200px){
    .exhibition_override{
    grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    .exhibition_contact{
        grid-template-columns: 1fr;
    }
}

/* contact */

.contact{
    margin: 10px;
    margin-top: 10px !important;
    padding: 10px;
    border: 2px solid var(--Marron);
    border-radius: 10px;
    background-color: var(--LightGrey);
}

.contact_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.contact_container > iframe{
    height: 450px !important;
    box-shadow: none !important ;
}

.contact_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.contact_container{
    max-width: 616px;
}