/* vars */
:root{
    --Marron: #6a1800;
    --Grey: #232323;
    --LightGrey: rgb(179, 179, 179);
    --Yellow: #ddaf4d;
    --fontSizeLarge: 40px;
    --fontSizeMedium: 30px;
    --fontSizeSmall: 20px;
    --fontSizeSuperSmall: 15px;
    --buttonSize: 20px;
    --logoPadding: 15px;
    --buttonWidth: 150px;
}

/* change font size*/
@media (max-width: 800px) {
    :root{
        --fontSizeLarge: 30px !important;
        --fontSizeMedium: 20px !important;
        --fontSizeSmall: 20px !important;
    }
}

@media (max-width: 500px) {
    :root{
        --fontSizeLarge: 20px !important;
        --fontSizeMedium: 15px !important;
        --fontSizeSmall: 15px !important;
    }
}

/* general formatting*/
html{scroll-behavior: smooth;}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

body{
    width: 100%;
    line-height: 1.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.show{
    display: block !important;
}

.tall{
    height: 605px;
}

@media (max-width: 364px){
    .tall{
        height: 618px !important;
    }
}

@media (max-width: 500px) and (min-width: 365px){
    .tall{
        height: 596px !important;
    }
}

a{
    color: white !important;
    text-decoration: none !important;
}

a > img{
    width: 30px;
    vertical-align: middle;
}

input:focus{
    outline: none;
    border: 2px solid var(--Yellow);
}

.hide{
    display: none !important;
}

/* head */

.home_image > img {
    width: auto !important;
}

.head{
    background-color: var(--Marron);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.name{
    width: 90%;
    color: white;
    font-weight: bold;
    font-size: var(--fontSizeMedium);
    top: 0;
    background-color: transparent;
}

.head_room{
    height: 120px;
}

@media (max-width : 500px ){
    .head_room{height: 97.5px !important;}
}

@media (max-width : 800px){
    .head_room{height: 105px;}
}

@media (max-width : 1000px)
{
    .name{font-size:var(--fontSizeMedium) !important;}
}

@media (max-width : 800px)
{
    .name{font-size:var(--fontSizeSmall) !important;}
}

.navbar_large{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    top: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: transparent;
}

.navbar_small{
    display: none;
    height: 75px;
    grid-template-columns: 75px auto;
}

.button{
    font-size: var(--buttonSize);
    width: var(--buttonWidth);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    border-color: var(--Yellow);
}

@media (max-width: 800px) {
    .navbar_large {
      display: none !important;
    }
    .navbar_small{
        display: grid !important;
    }
  }

.dropdown_arrow{
    height: 25px;
}

.dropdown_arrow_small{
    height: 30px;
    width: 30px;
}

.logo_header{
    height: 100%;
}

.logo_link{
    width: fit-content;
    height: fit-content;
    display: block;
}

.logo{
    object-fit: cover;
    height: 100%;
    padding-left: var(--logoPadding);
    padding-right: var(--logoPadding);
}

.menu_button{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown_layouts{
    background-color: var(--Marron);
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px!important;
    width: fit-content;
    display: block;
    position: absolute; 
    top: 98px;
    left: 0px;
    visibility: hidden;
}

.layout_button{
    display: block;
    font-size: var(--buttonSize);
    width: var(--buttonWidth);
    border: 1px solid white;
    background-color: var(--Marron);
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.layout_button:hover {
    border-color: var(--Yellow) !important;
}

.dropdown_menu{
    width: 100%;
    background-color: var(--Marron);
    height: 250px;
}

#layouts_menu:hover ~ .dropdown_layouts{
    display: block;
}

.small_button{
    display: block;
    font-size: var(--buttonSize);
    width: var(--buttonWidth);
    border: 1px solid white;
    background-color: var(--Marron);
    width: auto;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.small_button:hover {
    border-color: var(--Yellow) !important;
}

.logo_small{
    height: 60px;
    width: 150px;
}

.logo_small:hover{
    cursor: pointer;
    border-color: var(--Yellow);
}

.dropdown_layouts_small{
    margin-left: 50px;
    margin-right: 50px;
}


.layout_button_small{
    display: block;
    font-size: var(--fontSizeSuperSmall);
    width: var(--buttonWidth);
    border: 1px solid white;
    background-color: var(--Marron);
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.layout_button_small:hover {
    border-color: var(--Yellow) !important;
}

/* footer */
.footer{
    margin-top: 20px;
    background-color: var(--Marron);
    font-size: var(--fontSizeSmall);
    padding: 20px;
    color: white;
}

/* privacy */
.privacyContainer{
    margin-top: 10px !important;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--Marron);
    border-radius: 10px;
}

/* Video */
.video-container iframe {
  width: 100%;
  height: auto;
}

/* bullet point center */
li{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* exhibitions */

.exhibitions{
    margin: 10px;
    background-color: var(--LightGrey);
    border: 2px solid var(--Marron);
    border-radius: 10px;
}

.exhibition_title{
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}

.exhibition_grid{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
}

.exhibition{
    width: fit-content;
    padding: 10px;
}

.exhibition > b > ul{
    width: fit-content;
}


@media (max-width: 1000px) {
    .exhibition_grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto !important;
    }
}


.exhibition_grid > * {
    padding: 10px;
}