<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>NDMRC - Demonstration</title>
    <link rel="icon" type="image/x-icon" href="../media/logo.png">

    <link rel="stylesheet" href="../Main.css">
    <link rel="stylesheet" href="Layouts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
<div class="head" id="head">
        <div class="center name" id="name">Northampton and District Model Railway Club</div>
        <div class="button_container_large">
            <a class="button center" href="../index.html">Home</a>
            <a class="button center" href="../index.html#layouts" id="layouts_menu">Layouts<img src="../icons/dropdown.svg"
                    class="dropdown_arrow"></a>
            <a class="button center" href="../Exhibitions.html">Exhibitions</a>
            <div class="logo_header"><a href="../index.html" class="home_image"><img src="../media/logo.png" class="logo"></a></div>
            <a class="button center" href="../Newsletters.html">Newsletters</a>
            <a class="button center" href="mailto:northamptonanddistrictmrc@gmail.com">Contact</a>
            <a class="button center" href="../History.html">History</a>

            <div class="dropdown_layouts" id="dropdown_layouts">
                <a class="layout_button center" href="Kingsthorpe.html">Kingsthorpe</a>
                <a class="layout_button center" href="Castle.html">Northampton Castle</a>
                <a class="layout_button center" href="Demonstration.html">Demonstration</a>
                <a class="layout_button center" href="RAYBILL.html">RAYBILL Junction</a>
                <a class="layout_button center" href="Rheilffordd Nant‐Y‐Clag.html">Rheilffordd Nant‐Y‐Clag</a>
                <a class="layout_button center" href="N-Gauge-TestTrack.html">N Gauge Test Track</a>
                <a class="layout_button center" href="OO-Gauge-TestTrack.html">OO Gauge Test Track</a>
            </div>


        </div>
        <div class="button_container_small">
            <div class="menu_button"><img src="../icons/dropdown.svg" class="logo_small center"
                    onclick="document.getElementById('dropdown').classList.toggle('show');document.getElementById('head').classList.remove('tall');">
            </div>
            <div class="logo_header"><img src="../media/logo.png" class="logo_small center"></div>
        </div>

        <div class="dropdown_menu" id="dropdown">
            <a class="small_button "
                onclick="document.getElementById('dropdown').classList.toggle('show');document.getElementById('head').classList.toggle('tall');"
                href="../index.html">Home</a>
            <a class="small_button "
                onclick="document.getElementById('dropdown_layouts_small').classList.toggle('show'); document.getElementById('head').classList.toggle('tall');"
                href="../index.html#layouts">Layouts<img src="../icons/dropdown.svg" class="dropdown_arrow"></a>


            <div class="dropdown_layouts_small" id="dropdown_layouts_small">
                <a class="layout_button_small" href="Kingsthorpe.html">Kingsthorpe</a>
                <a class="layout_button_small" href="Castle.html">Northampton Castle</a>
                <a class="layout_button_small" href="Demonstration.html">Demonstration</a>
                <a class="layout_button_small" href="RAYBILL.html">RAYBILL Junction</a>
                <a class="layout_button_small" href="Rheilffordd Nant‐Y‐Clag.html">Rheilffordd Nant‐Y‐Clag</a>
                <a class="layout_button_small" href="N-Gauge-TestTrack.html">N Gauge Test Track</a>
                <a class="layout_button_small" href="OO-Gauge-TestTrack.html">OO Gauge Test Track</a>
            </div>

            <a class="small_button " onclick="document.getElementById('dropdown').classList.toggle('show')"
                href="../Exhibitions.html">Exhibitions</a>
            <a class="small_button " onclick="document.getElementById('dropdown').classList.toggle('show')"
                href="../Newsletters.html">Newsletters</a>
            <a class="small_button "
                onclick="document.getElementById('dropdown').classList.toggle('show');document.getElementById('head').classList.toggle('tall');"
                href="mailto:northamptonanddistrictmrc@gmail.com">Contact</a>
            <a class="small_button "
                onclick="document.getElementById('dropdown').classList.toggle('show');document.getElementById('head').classList.toggle('tall');"
                href="../History.html">History</a>
        </div>
    </div>

    <div class="head_room"></div>

    <div class="layout_title center">
        <b>Demonstration:</b>
    </div>

    <div class="carousel_container center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../media/Demonstration/Demonstration Main.jpeg" class="d-block w-100">
                </div>
                <div class="carousel-item video-container">
                    <iframe src="https://www.youtube.com/embed/MJi_o3HP-Bk?si=4urDQSYt3jY4cqRD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="carousel-item video-container">
                    <iframe src="https://www.youtube.com/embed/XHWwifeeVYo?si=mg1cyC6h7wphoHIz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <img src="../media/Demonstration/Demonstration 1.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../media/Demonstration/Demonstration 2.jpeg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="../media/Demonstration/Demonstration 3.jpg" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="layout_info center">
        <div class="layout_facts">
            <div class="layout_facts_title center">Layout Facts:</div>
            <div class="layout_facts_list">
                ⬤ 4 X OO Gauge<br>
                ⬤ 3 X O Gauge<br>
                ⬤ DCC &amp DC<br>
                ⬤ 27ft X 17ft<br>
                ⬤ 8M X 5M<br>
                ⬤ Lift up Section<br>
            </div>
        </div>
        <div class="layout_description">
            <div class="layout_description_title center">Layout Description:</div>
            <div class="layout_description">
                Our purpose-built Demonstration Layout includes four OO gauge and three O gauge tracks and is always a
                hit at club nights and exhibitions. It allows for the easy testing of any stock or controllers and
                you see a larger verity of trains running. It also has a lift up section allowing for easy access in and
                out of the layout.
            </div>
        </div>

    </div>

    <div class="footer center" id="footer">
        <a href="../privacyPolicy.html">Privacy Policy</a>
        &nbsp;&nbsp;&nbsp;&nbsp;⬤&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://youtube.com/@northamptondistrictmodelra1112?si=UqeWOT-P-emrgiwG" target="_blank">Youtube <img
                src="../icons/youtube.svg"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;⬤&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/groups/165670697446426/" target="_blank">Facebook <img
                src="../icons/facebook.svg"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;⬤&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://x.com/NorthamptonDMRC" target="_blank">Twitter <img src="../icons/twitter.svg"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;⬤&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:northamptonanddistrictmrc@gmail.com">northamptonanddistrictmrc@gmail.com <img
                src="../icons/email.svg"></a>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>

</html>
